
<div class="board-top">
    <div class="container">
        <h1 class="board-caption">Поиск:</h1>
        <input type="text" class="form-control input-lg" placeholder="Имя, ссылка или другая информация" ng-model="board.search" autofocus>
    </div>

</div>
<div class="container">
    <div class="row board-header">
        <div class="col-md-2"><h3>ФИО</h3></div>
        <div class="col-md-5"><h3>Чем знаменит</h3></div>
        <div class="col-md-3"><h3>Ссылка</h3></div>
        <div class="col-md-2"><h3>Жалоба от</h3></div>
    </div>
    <div class="board-hide-ajax" ng-hide="board.loading">

        <div class="row board-item" ng-repeat="scammer in board.filtered = (board.scammers | filter: board.search)">
            <div class="col-md-2">
                <div class="mobile-labels">ФИО:</div>
                {{scammer.name}}
            </div>
            <div class="col-md-5">
                <div class="mobile-labels">Чем знаменит:</div>
                {{scammer.description}}
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 break-words">
                <div class="mobile-labels">Ссылка:</div>
                <span ng-bind-html="scammer.href | linkFilter"></span>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6 break-words">
                <div class="mobile-labels">Жалоба от:</div>
                <span ng-bind-html="scammer.complaintFrom | linkFilter"></span>
            </div>
        </div>

        <div class="board-footer text-center">
            <p ng-show="board.filtered.length > 0"><b>Всего найдено:</b> {{board.filtered.length}}</p>
            <p ng-hide="board.filtered.length > 0"><b>Ничего не найдено</b></p>
        </div>
    </div>
    <p class="lead text-center board-loading" ng-show="board.loading">
        Загрузка...
    </p>


</div>
