<ul class="list-inline social-buttons">
    <li>
        <a href="http://vkontakte.ru/share.php?url={{root.metaData.address}}" target="_blank">
            <i class="icon-vkontakte-1"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/intent/tweet?url={{root.metaData.address}}" target="_blank">
            <i class="icon-twitter"></i>
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{root.metaData.address}}" target="_blank">
            <i class="icon-facebook"></i>
        </a>
    </li>
    <li>
        <a href="https://plus.google.com/share?url={{root.metaData.address}}" target="_blank">
            <i class="icon-gplus"></i>
        </a>
    </li>
</ul>

