<div class="container">
    <h1>FAQ</h1>
    <p class="lead">Привет! Этот сервис был создан как альтернатива <a href="https://docs.google.com/spreadsheets/d/12k92qZdkAvnff38qMY8P0U8F1UVWjE0sxhEnEGDfLd8/edit#gid=0" target="_blank">гугл таблице</a>, в которой собран список мошенников и кидал, "занимающихся" музыкальными инструментами и оборудованием. Данные подгружаются именно из этой таблицы и постоянно актуализируются.</p>

    <p class="lead">Сделан специально для сообщества <a href="https://vk.com/gasclub" target="_blank">G.A.S. Club</a>.</p>

    <h2>Присылай свои предложения и пожелания:</h2>
    <ul class="list-inline">
        <li><a href="http://vk.com/yarapryanik" target="_blank">VK</a></li>
        <li><a href="mailto:flareair0@gmail.com?subject=Board of shame">Mail</a></li>
    </ul>
    <h3><a href="https://github.com/flareair/board_of_shame" target="_blank">Исходники на GitHub</a></h3>
</div>
