<div class="container">
    <h1>FAQ</h1>
    <p class="lead">
        <b>Q: Что это за список?</b> <br>
        A: В этом списке собраны мошенники и кидалы, специализирующиеся на музыкальных инструментах и оборудовании.
    </p>
    <p class="lead">
        <b>Q: А кто составляет список?</b> <br>
        A: Ребята вот из этой <a href="http://vk.com/boardofshame" target="_blank">группы</a>. Они ведут <a href="https://docs.google.com/spreadsheets/d/12k92qZdkAvnff38qMY8P0U8F1UVWjE0sxhEnEGDfLd8/edit#gid=0" target="_blank">гугл таблицу</a>, из которой этот сервис берет все данные.
    </p>
    <p class="lead">
        <b>Q: Зачем этот сайт, если есть оригинальная таблица?</b> <br>
        A: Таблица долго загружается, по ней неудобно искать, особенно с мобильников.
    </p>
    <p class="lead">
        <b>Q: И как часто список здесь обновляется?</b> <br>
        A: Не реже раза в 5 минут.
    </p>
    <p class="lead">
        <b>Q: Я хочу предложить кандидата в список/мое имя не должно быть в списке.</b> <br>
        A: По этим вопросам пиши <a href="http://vk.com/board52112792" target="_blank">сюда</a>, в соответствующие темы. <i>Создатель этого сайта никак не может влиять на содержимое списка.</i>
    </p>
    <p class="lead">
        <b>Q: Как связаться с автором сайта?</b> <br>
        A: Пиши в <a href="http://vk.com/yarapryanik" target="_blank">ВК</a> или на <a href="mailto:flareair0@gmail.com?subject=Board of shame">почту</a>.
    </p>
    <p class="lead">
        <b>Q: А можно посмотреть исходники?</b> <br>
        A: Конечно, весь код лежит на <a href="https://github.com/flareair/board_of_shame" target="_blank">Github</a>.
    </p>
</div>
